# erpnext-two.env.j2
DB_PASSWORD={{ mysql.user_pass }}
DB_HOST={{ mysql.database }}
DB_PORT={{ mysql.port }}
SITES=`{{ erpnext.sites.three }}`,`{{ erpnext.sites.four }}`
ROUTER=erpnext-two
BENCH_NETWORK=erpnext-two
ERPNEXT_VERSION={{ erpnext.version }}