# erpnext-one.env.j2
DB_PASSWORD={{ mysql.user_pass }}
DB_HOST={{ mysql.database }}
DB_PORT={{ mysql.port }}
SITES=`{{ erpnext.sites.one }}`,`{{ erpnext.sites.two }}`
ROUTER=erpnext-one
BENCH_NETWORK=erpnext-one
ERPNEXT_VERSION={{ erpnext.version }}
